click==6.7
configparser==3.5.0
decorator==4.0.11
Flask==0.12.2
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
passlib==1.7.1
pbr==3.1.1
py==1.4.33
pytest==3.0.7
requests==2.13.0
six==1.10.0
SQLAlchemy==1.1.11
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
Tempita==0.5.2
type-safety==0.4
Werkzeug==0.12.2
WTForms==2.1
